apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ project_name | replace("_", "-") }}-sa
  namespace: {{ project_name | replace("_", "-") }}
  annotations:
    azure.workload.identity/client-id: "<MANAGED_IDENTITY_CLIENT_ID>"
  labels:
    azure.workload.identity/use: "true"
