apiVersion: v1
kind: Service
metadata:
  name: {{ project_name | replace("_", "-") }}
  namespace: {{ project_name | replace("_", "-") }}
  labels:
    app: {{ project_name | replace("_", "-") }}
spec:
  type: ClusterIP
  selector:
    app: {{ project_name | replace("_", "-") }}
  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http
